<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bteam.violet.mapper.NoticeMapper">
	
	<select id="getList" resultType="com.bteam.violet.domain.NoticeVO">
	<![CDATA[
	select * from notice_tbl where notice_bno > 0
	]]>
	</select>
	
	<insert id="insert">
		insert into notice_tbl (notice_bno, notice_title, notice_content, notice_writer)
		values (seq_board.nextval, #{notice_title}, #{notice_content}, #{notice_writer})
	</insert>
	
	<insert id="insertSelectKey">
		<selectKey keyProperty="notice_bno" order="BEFORE" resultType="long">
			select seq_board.nextval from dual
		</selectKey>
		
		insert into notice_tbl (notice_bno, notice_title, notice_content, notice_writer)
		values (#{notice_bno}, #{notice_title}, #{notice_content}, #{notice_writer})
		
	</insert>
	
	<select id="read" resultType="com.bteam.violet.domain.NoticeVO">
		select * from notice_tbl where notice_bno = #{notice_bno}
	</select>
	
	<delete id="delete">
		delete from notice_tbl where notice_bno = #{notice_bno}
	</delete>
	
	<update id="update">
		update notice_tbl
		set notice_title = #{notice_title},
		notice_content = #{notice_content},
		notice_writer = #{notice_writer}
		where notice_bno = #{notice_bno}
	</update>
	
	<update id="updatehit">
		update notice_tbl
		set hit = hit+1
		where notice_bno = #{notice_bno}
	</update>
	

</mapper>