<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bteam.violet.mapper.testmapper">
	<select id="demo" resultType="String">
		select to_char(sysdate) from dual	
	</select>
	
	<select id="login" parameterType="com.bteam.violet.domain.CustVO" 
	resultType="com.bteam.violet.domain.CustVO">
		SELECT cust_id, cust_password
		FROM cust_tbl
		WHERE cust_id = #{cust_id}
		AND cust_password = #{cust_password}
	</select>
	
	<select id="login2" resultType="int">
		SELECT count(*)
		FROM cust_tbl
		WHERE cust_id = 'admin'
	</select>


</mapper>